/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");


nav#navbarVertical {
    background-color: #263ab5 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fdfdfd;
    margin-left: 5px;
}
h4{
    color: #fdfdfd;
    margin-left: 3px;
}

.navbar-vertical.navbar-light .navbar-nav .nav-link i, .navbar-vertical.navbar-light .navbar-nav .nav-link svg {
    color: #fdfdfd;
}

.navbar-light .navbar-brand{
    color: #fdfdfd;
}

.navbar-vertical.navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    background-color: aqua;
}

.navbar-vertical.navbar-light .navbar-nav>.nav-item>.nav-link>.Course:hover {
   color: #263ab5;
}

@media (min-width: 992px)
{
    .border-end-lg {
        border-right-width: 0px !important;
    }
}

