/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");


nav#navbarVertical {
    background-color: #263ab5 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fdfdfd;
    margin-left: 5px;
    font-size: 1.2rem;
}

h4 {
    color: #fdfdfd;
    margin-left: 3px;
}

.navbar-vertical.navbar-light .navbar-nav .nav-link i,
.navbar-vertical.navbar-light .navbar-nav .nav-link svg {
    color: #fdfdfd;
}

.navbar-light .navbar-brand {
    color: #fdfdfd;
}

.navbar-vertical.navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    background-color: aqua;
}

.navbar-vertical.navbar-light .navbar-nav>.nav-item>.nav-link>.Course:hover {
    color: #263ab5;
}

.body-modal .container {
    width: 500px;
    height: 480px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 28pxrgba (0, 0, 0, 0.12);
    transition: heigh 0.2s ease;
}

/* Slider */
.body-modal .container .wrapper {
    display: flex;
    width: 1000px;
}

.body-modal .container section {
    width: 500px;
    background: #fff;
}

.body-modal .container .post {
    transition: margin-left 0.18s ease;
}

.body-modal .container.active .post {
    margin-left: -500px;
}

.body-modal .container.active {
    height: 490px;
}

.body-modal .container .audience {
    opacity: 0;
    transition: opacity 0.12s ease;
}

.body-modal .container.active .audience {
    opacity: 1;
}

/* Post */
.body-modal .post header {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf;
}

.body-modal .post form {
    margin: 20px 25px;
}

.body-modal .post form :where(.content, .details .privacy) {
    display: flex;
    align-items: center;
}

.body-modal .post form .content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.body-modal .post form .content {
    margin-bottom: 10px;
}

.body-modal .post form .content .details {
    margin: -3px 0 0 12px;
}

.body-modal form .content .details p {
    font-size: 17px;
    font-weight: 500;
}

.body-modal form .content .details .privacy {
    cursor: pointer;
    width: 98px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 3px;
    border-radius: 5px;
    background: #e4e6eb;
    justify-content: space-between;
}

.body-modal .details .privacy span {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.body-modal .details .privacy i:last-child {
    font-size: 13px;
    margin-left: 1px;
}

.body-modal .post form :where(textarea, button) {
    width: 100%;
    border: none;
    outline: none;
}

.body-modal .post form textarea {
    display: block;
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
}

.body-modal .post form :where(.theme-emoji, .options) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-modal .post form .theme-emoji img {
    cursor: pointer;
}

.body-modal form .options {
    height: 57px;
    border-radius: 7px;
    padding: 0 15px;
    margin: 15px 0;
    border: 1px solid #b9b9b9;
}

.body-modal form .options p {
    color: #595959;
    font-size: 14px;
    font-weight: 500;
}

.body-modal form .options :where(.list, li) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-modal form .options .list li {
    list-style: style none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.body-modal form .list li:hover {
    background: #f0f1f4;
}

.body-modal form .list li img {
    cursor: pointer;
}

.body-modal form button {
    height: 53px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    color: #bcc0c4;
    cursor: no-drop;
    background: #e2e5e9;
}

.body-modal form textarea:valid~button {
    color: #fff;
    cursor: pointer;
    background: #4599ff;
}

.custom-editor {
    min-height: 100px;
    max-height: 100px;
    overflow: auto; /* this will enable scrolling if the content exceeds the max-height */
    /* margin-top: 10px; */
  }
  .header-model-input-style {
    display: flex;
    margin: 0px;
}

.header-model-input-style .form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding-left: 40px;
}
.header-model-input-style span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #216FDB;
    font-size: 1.5rem;
    font-weight: 600;
}

  i.fa.fa-search {
    position: absolute;
    top: 20px;
    left: 22px;
    font-size: 15px; /* Set the font-size to 24 pixels */
}

div#contained-modal-title-vcenter {
    color: #050505;
    font-size: 2.25rem;
    font-weight: 700;
}

.public-DraftEditorPlaceholder-root {
    font-size: 15px;
}
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr span{
    font-size: 15px;
} 

/* friends  */

.friends-list-container{
    height: 310px;
    cursor: pointer;
    font-family: inherit;
}
.friends-list-container .suggest{
    font-size: small;
    margin: 15px 0px 5px 10px;
    color: #65676B;
    font-weight: 600;
}
.friends-list{
    height: 90%;
    overflow-y: hidden; 
}

.friends-list:hover{
    height: 90%;
    overflow-y: auto; 
}
#style-1::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #CED0D4;
}

.friends-list .info-friends img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}
.friends-list .info-friends {
    display: flex;
    padding: 10px;
}
.friends-list .info-friends span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.friends-list .info-friends:hover {
   background-color: #CFD1D5;
   border-radius: 5px;
}


/* tabs */
.nav-tabs .nav-link {
    padding: 1.25rem 30px;
    font-size: 15px;
}

.nav-tabs .nav-link:hover {
    background-color: #CCCCCC;
}

.nav-tabs{
    border: none !important;
}


.nav-tabs .nav-link.active{
    color:  hsl(214, 89%, 52%) !important;
    background-color:#fff !important;
    border-top: #fff !important;
    border-right: #fff !important;
    border-left: #fff !important;
    border-bottom: 5px solid hsl(214, 89%, 52%) !important;
}

/* // feeling */
.row-feeling-container{
    height: 290px;
}

.row-feeling {
    margin-left: 5%;
    height: 90%;
    overflow-x: hidden; 
    /* overflow-y: hidden;  */
  }
  .row-feeling::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
  .row-feeling:hover{
    height: 90%;
    overflow-y: auto; 
}
  

.row-feeling .column-feeling{
    display: flex;
    margin-top: 20px;
    padding: 5px;
}

.row-feeling .column-feeling:hover{
    background-color: #bcc0c4;
    border-radius: 20px;
}

.row-feeling .column-feeling span{
    margin-left: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-feeling .column-feeling .emoji{
    align-items: center;
    width: 40px;
    justify-content: center;
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #E4E6EB;
    border-radius: 50%;
    padding: 10px;
}

/* activity */
.row-activity-container{
    height: 290px;
}

.row-activity {
    margin-left: 18px;
    height: 90%;
    overflow-x: hidden; 
    /* overflow-y: hidden;  */
  }
  .row-activity::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
  .row-activity:hover{
    height: 90%;
    overflow-y: auto; 
}
  

.row-activity .column-activity-fa .column-activity{
    display: flex;
    height: auto;
    padding:15px 0px;
    width: 100px;
}

.row-activity .column-activity-fa {
    display: flex;
}

.row-activity .column-activity-fa:hover{
   background-color: #CFD1D5;
   border-radius: 20px;
}

.row-activity .column-activity-fa .column-activity span{
    margin-left: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-activity .column-activity-fa .fa-arrow-right{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 380px;
}

.row-activity .column-activity-fa .column-activity .emoji{
    align-items: center;
    width: 40px;
    justify-content: center;
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #E4E6EB;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
}

/* Check in */


.checkin-list-container{
    height: 340px;
    cursor: pointer;
    /* font-family: inherit; */
}

.checkin-list-container .checkin-list{
    height: 100%;
    overflow-y: hidden; 
}
.checkin-list-container .checkin-list:hover{
    height: 100%;
    overflow-y: auto; 
}

.checkin-list-container .checkin-list .info-address img{
    height: 30px;
    width: 30px;
    background-color: #65676B;
    border-radius: 5px;
    margin-right: 15px;
}
.checkin-list-container .checkin-list .info-address{
    display: flex;
    margin-top: 10px;
    padding: 10px;
}

.checkin-list-container .checkin-list .info-address:hover{
    background-color: #CFD1D5;
    border-radius: 5px;
}

.checkin-list-container .checkin-list .info-address .title-address span{
    font-size: 13px;
}
.options-modal{
    display: flex;
    list-style: none;
    padding: 20px;
}
.options-modal:hover{
    background-color: #b9b9b9;
    border-radius: 8px;
}

.options-modal img{
    margin-right: 20px;
}
.options-modal span{
    font-size: 15px;
    font-weight: 600;
}

/* event */


.event-container .header-create-event .title-create-event{
    text-align: center;
    margin-bottom: 20px;
}

.event-container .header-create-event span{
    font-weight: bold;
    font-size: 20px;
}

.event-container .header-create-event p{
    font-size: 12px;
    font-weight: 300;
}

.event-container .body-create-event h3{
    text-align: center;
    margin: 30px 0px 0 0;
}
.event-container .body-create-event .list-event{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.event-container .body-create-event .list-event .img-event{
    list-style: none;
    width: 90px;
    height: 90px;
    margin: 10px;
    text-align: center;
    padding-top: 15px;
}

.event-container .body-create-event .list-event .img-event span{
    font-weight: bold;
}

.event-container .body-create-event .list-event .img-event:hover{
    background-color: #f2f2f2;
    border-radius: 5px;
}

.container-dropzone{
    border: 1px solid #f4f5f5;
    padding: 8px;
    border-radius: 10px;
}

.dropzone  {
    width: 100%;
    height: 115px;
    text-align: center;
    border: 1px solid #f7f8fa;
    background-color: #f7f8fa;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.dropzone .body-dropzone span{
    font-weight: bold;
    font-size: 15px;
}

.dropzone .body-dropzone p{
    font-weight: 200;
}

i.bi.bi-x {
    cursor: pointer;
    font-size: 17px;
    position: absolute;
    right: 48px;
    border: 1px solid #ebeced;
    width: 28px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 12px;
    text-align: center;
}

button.btnAddImages{
    display: none;
}

.container-dropzone:hover .body-image{
    background-color: red;
}


.container-dropzone:hover button.btnAddImages{
    width: 120px !important;
    height: 30px !important;
    font-size: -2px;
    position: absolute;
    list-style: none;
    display: flex;
    background-color: #fff !important;
    padding: 3px;
    text-align: center;
    left: 60px;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}



button.btnAddImages li img{
    width: 15px;
    height: 15px;
}

button.btnAddImages span{
    color: #050505;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
} 



@media (min-width: 992px) {
    .border-end-lg {
        border-right-width: 0px !important;
    }
}